blinker==1.8.2
click==8.1.7
colorama==0.4.6
flask==3.0.3
ftfy==6.2.0
importlib-metadata==8.2.0
itsdangerous==2.2.0
jinja2==3.1.4
langcodes==3.4.0
language-data==1.2.0
locate==1.1.1
marisa-trie==1.2.0
MarkupSafe==2.1.5
msgpack==1.0.8
regex==2024.7.24
wcwidth==0.2.13
werkzeug==3.0.3
wordfreq==3.1.1
zipp==3.19.2
